<div id="wrapper">
    <div class="grid990 container">
        <div class="row">
            <div class="col-sm-12">
                <div class="" id="artContent">
                    <div class="content-wr" style="width:100%;display:table;">

                        <p>&nbsp;</p>

                        <p>&nbsp;</p>

                        <h1 style="text-align:center;"><span style="font-family:verdana, geneva, sans-serif;"><span
                                    style="font-size:28px;"><strong>CLOWNZ - CÂU CHUYỆN THƯƠNG
                                        HIỆU</strong></span></span></h1>

                        <p>&nbsp;</p>

                        <h1 style="text-align:center;"><img alt=""
                                src="//cdn.nhanh.vn/cdn/store/11486/artCT/25918/15039482_1208642205838445_9218784862050750322_o.jpg"
                                style="font-size:13px;height:500px;"></h1>

                        <p style="text-align:justify;">&nbsp;</p>

                        <p><span style="font-size:14px;">Năm 2011, chúng tôi bắt đầu vẽ lên câu chuyện của riêng mình.
                                Với mong ước có một thương hiệu mang đậm cá tính đường phố: <strong>năng động, trẻ trung
                                    và đầy văn minh</strong>, Clownz Streetwear đã khai trương cơ sở đầu tiên tại 19 Hồ
                                Đắc Di.</span></p>

                        <p><span style="font-size:14px;"><strong>"Clownz"</strong> là tên gọi xuất phát từ C-walk – thể
                                loại nhảy đường phố thịnh hành trong giới hiphop lúc bấy giờ. Tên gọi ấy mang ý nghĩa
                                như tuyên ngôn của sự vui vẻ và đổi mới không ngừng. Clownz Streetwear&nbsp;sẽ luôn đi
                                theo phương châm trở thành chuỗi thời trang uy tín chuyên về phong cách đường
                                phố.</span></p>

                        <p><span style="font-size:14px;">Chúng tôi mong muốn những khách hàng của Clownz luôn
                                tự&nbsp;tin, trẻ trung và đầy lạc quan. <strong>Thay đổi không ngừng nghỉ và tận tâm vì
                                    khách hàng</strong> sẽ là hai tôn chỉ hoạt động lớn nhất của chúng tôi.</span></p>

                        <p><span style="font-size:14px;">Giai đoạn 2017 - 2018, Clownz đặt mục tiêu tăng nhanh về số
                                lượng cửa hàng, hoàn thiện cơ cấu tổ chức, đặt nền móng cho việc trở thành một thương
                                hiệu hàng đầu về thời trang đường phố sau 5 năm nữa.</span></p>

                        <p><span style="font-size:14px;">Chúng tôi hoàn toàn tin mình có thể làm nên những điều
                                đó.</span></p>

                        <p><span style="font-size:14px;"><strong>Dress like you're already famous,</strong></span></p>

                        <p style="text-align:right;">&nbsp;</p>

                        <p style="text-align:right;"><em><span
                                    style="font-size:14px;"><b>CLOWNZ&nbsp;Streetwear.</b></span></em></p>

                        <p>&nbsp;</p>

                        <p style="text-align:right;">&nbsp;</p>

                        <p style="text-align:right;">&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>