<div class="hero-collection">
    <div class="row">
        <div class="col hero-collection__col">
            <div class="hero-collection__image">
                <img src="http://cdn.nhanh.vn/cdn/store/11486/bn/sb_1505444909_951.jpg" class="image-hero img-fluid" alt="...">
            </div>
            <div class="hero-collection__content">
                <h3 class="hero-collection__title">TOP</h3>
            </div>             
        </div>
        <div class="col hero-collection__col">
            <div class="hero-collection__image">
                <img src="http://cdn.nhanh.vn/cdn/store/11486/bn/sb_1505995652_279.jpg" class="img-fluid" alt="...">               
            </div>
            <div class="hero-collection__content">
                <h3 class="hero-collection__title">BOTTOM</h3>
            </div>               
        </div>
    </div>
</div>
