<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <header>
    <a href="#" class="logo">
      <img src="http://cdn.nhanh.vn/cdn/store/11486/store_1497845316_810.jpg" alt="logo">
    </a>
    <app-nav></app-nav>
  </header>
  <app-hero></app-hero>
  <app-products></app-products>
  <app-hero-collection></app-hero-collection>
  <app-collection></app-collection>
  <footer>
    <app-footer></app-footer>
    <app-copyright></app-copyright>
  </footer>
</body>

</html>