<div class="products">
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="card">
                <img class="card-img-top" src="http://cdn.nhanh.vn/cdn/store/11486/ps/20190102/1546421118636_1000x1000.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><a routerLink="/list-product">BEST SELLER - BAG</a></h5>
                </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="card">
                <img class="card-img-top" src="http://cdn.nhanh.vn/cdn/store/11486/ps/20190313/8879b143_f55c_4300_a281_3a7c50941036_750x750.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><a routerLink="/list-product">BEST SELLER - TOP</a></h5>
                </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="card">
                <img class="card-img-top" src="http://cdn.nhanh.vn/cdn/store/11486/ps/20190614/img_0719.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><a routerLink="/list-product">BEST SELLER - BOTTOM</a></h5>
                </div>
              </div>
          </div>
        </div>
      </div>
</div>