<div class="collection">
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="card">
                <img class="card-img-top" src="http://cdn.nhanh.vn/cdn/store/11486/ps/20191020/74701602_2551884251514227_2909152392358395904_o.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">BAG</h5>
                </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="card">
                <img class="card-img-top" src="http://cdn.nhanh.vn/cdn/store/11486/ps/20190713/_n7a2012.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">HAT</h5>
                </div>
              </div>
          </div>
          <div class="col-sm">
            <div class="card">
                <img class="card-img-top" src="http://cdn.nhanh.vn/cdn/store/11486/ps/20191027/atm_cam.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">ACCESSORY</h5>
                </div>
              </div>
          </div>
        </div>
      </div>
</div>